.29_22 { 
	overflow:hidden;
}.e29_22 { 
	background-color:rgba(217.8125050663948, 213.0932343006134, 208.73698085546494, 1);
	width:1440px;
	height:1976px;
	position:absolute;
}.e29_34 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:364px;
	height:364px;
	position:absolute;
	left:220px;
	top:448px;
}.e29_37 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:364px;
	height:364px;
	position:absolute;
	left:829px;
	top:448px;
}.e29_40 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:364px;
	height:364px;
	position:absolute;
	left:825px;
	top:1135px;
}.e29_47 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:364px;
	height:364px;
	position:absolute;
	left:825px;
	top:1136px;
}.e29_43 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:364px;
	height:364px;
	position:absolute;
	left:220px;
	top:1131px;
}.e29_35 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:313px;
	height:313px;
	position:absolute;
	left:246px;
	top:474px;
}.e29_38 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:313px;
	height:313px;
	position:absolute;
	left:855px;
	top:474px;
}.e29_41 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:313px;
	height:313px;
	position:absolute;
	left:851px;
	top:1161px;
}.e29_48 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:313px;
	height:313px;
	position:absolute;
	left:851px;
	top:1162px;
}.e29_44 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:313px;
	height:312px;
	position:absolute;
	left:246px;
	top:1157px;
}.e29_36 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:289px;
	position:absolute;
	left:258px;
	top:486px;
	background-image:url(images/ellipse_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e29_39 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:288px;
	height:289px;
	position:absolute;
	left:868px;
	top:486px;
	background-image:url(images/ellipse_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e29_42 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:288px;
	height:289px;
	position:absolute;
	left:864px;
	top:1173px;
}.e29_49 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:288px;
	height:289px;
	position:absolute;
	left:864px;
	top:1174px;
	background-image:url(images/ellipse_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e29_45 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:288px;
	position:absolute;
	left:258px;
	top:1169px;
	background-image:url(images/ellipse_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_77 { 
	color:rgba(255, 255, 255, 1);
	width:378px;
	height:85px;
	position:absolute;
	left:215px;
	top:843px;
	font-family:Sen;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e31_81 { 
	color:rgba(181.68749392032623, 163.18227410316467, 148.37811648845673, 1);
	width:509px;
	height:85px;
	position:absolute;
	left:149px;
	top:939px;
	font-family:Sen;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e31_87 { 
	color:rgba(181.68749392032623, 163.18227410316467, 148.37811648845673, 1);
	width:509px;
	height:85px;
	position:absolute;
	left:757px;
	top:936px;
	font-family:Sen;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e31_89 { 
	color:rgba(181.68749392032623, 163.18227410316467, 148.37811648845673, 1);
	width:509px;
	height:85px;
	position:absolute;
	left:757px;
	top:1655px;
	font-family:Sen;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e31_91 { 
	color:rgba(181.68749392032623, 163.18227410316467, 148.37811648845673, 1);
	width:509px;
	height:85px;
	position:absolute;
	left:144px;
	top:1655px;
	font-family:Sen;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e31_79 { 
	color:rgba(255, 255, 255, 1);
	width:378px;
	height:85px;
	position:absolute;
	left:215px;
	top:1551px;
	font-family:Sen;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e31_80 { 
	color:rgba(255, 255, 255, 1);
	width:437px;
	height:85px;
	position:absolute;
	left:789px;
	top:1551px;
	font-family:Sen;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e31_78 { 
	color:rgba(255, 255, 255, 1);
	width:378px;
	height:85px;
	position:absolute;
	left:830px;
	top:843px;
	font-family:Sen;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e31_86 { 
	background-color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:447px;
	height:7px;
	position:absolute;
	left:175px;
	top:928px;
}.e31_88 { 
	background-color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:447px;
	height:7px;
	position:absolute;
	left:783px;
	top:925px;
}.e31_90 { 
	background-color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:447px;
	height:7px;
	position:absolute;
	left:783px;
	top:1644px;
}.e31_92 { 
	background-color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:447px;
	height:7px;
	position:absolute;
	left:170px;
	top:1644px;
}.e40_2674 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:284px;
	height:284px;
	position:absolute;
	left:42px;
	top:119px;
}.e40_2675 { 
	background-color:rgba(255, 255, 255, 1);
	width:1376px;
	height:87px;
	position:absolute;
	left:64px;
	top:218px;
}.e40_2676 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:63px;
	top:140px;
}.e40_2677 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:225px;
	position:absolute;
	left:72px;
	top:149px;
}.e40_2678 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2679 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2680 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:117px;
	height:49px;
	position:absolute;
	left:738px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2681 { 
	color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:277px;
	height:121px;
	position:absolute;
	left:340px;
	top:203px;
	font-family:Sen;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e40_2682 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2683 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}